<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UPS_Sample.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <UPS_Sample.Properties.Settings>
            <setting name="BaseRestUrl" serializeAs="String">
                <value>https://gorest.co.in/public/v1/</value>
            </setting>
            <setting name="FormatAndToken" serializeAs="String">
                <value>?_format=json&amp;access-token=fa114107311259f5f33e70a5d85de34a2499b4401da069af0b1d835cd5ec0d56</value>
            </setting>
        </UPS_Sample.Properties.Settings>
    </applicationSettings>
</configuration>